<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./tmpl_tech.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="page_main">
        <!-- <div class="page_head">
            <span>[2024.10.12]FeedsDaily#1</span>
        </div> -->
        
    <div class="container">
        <div class="title_con">
            <div class="line_con"><div class="title_line"></div></div>
            <div class="title_main">vivo X200 系列手机定档 10 月 14 日发布</div>
        </div>
        
        <div class="ban first_ban" style="background-image:url(https://cdn.pingwest.com/portal/2024/09/30/WdRd7ABNt45A2f3zm7NQf7t4McCMFfB5.jpg?x-oss-process=style/article-body);"></div>

        
        <div class="feed_con">
        
            <div class="feed_abst">
                vivo vivo X200 系列手机定档 10 月 14 日发布 vivo 今天官宣 X200 系列手机定档10 月 14 日 19:00 亮相，发布会将在北京水立方举行。
            </div>
        
        </div>
        <hr class="split_line">
    </div>

    <div class="container">
        <div class="title_con">
            <div class="line_con"><div class="title_line"></div></div>
            <div class="title_main">阿里妈妈开源全新 AI 图像修复模型 FLUX-Controlnet-Inpainting</div>
        </div>
        
        <div class="feed_con">
        
        <div class="ban" style="background-image:url(https://cdn.pingwest.com/portal/2024/09/30/ttQWPZB7DFsQ66cH5iaa332sH2wrSBW7.jpg?x-oss-process=style/article-body);"></div>

        
            <div class="feed_abst">
                阿里妈妈 阿里妈妈开源全新 AI 图像修复模型 FLUX-Controlnet-Inpainting 阿里妈妈创意团队宣布开源FLUX-Controlnet-Inpainting AI 图像修复模型。
            </div>
        
        </div>
        <hr class="split_line">
    </div>

    <div class="container">
        <div class="title_con">
            <div class="line_con"><div class="title_line"></div></div>
            <div class="title_main">联想消费国庆新品嘉年华：联想YOGA AI元启新品引领移动办公与创作新潮流</div>
        </div>
        
        <div class="feed_con">
        
            <div class="feed_abst">
                联想 联想消费国庆新品嘉年华：联想YOGA AI元启新品引领移动办公与创作新潮流
            </div>
        
        <div class="ban" style="background-image:url(https://cdn.pingwest.com/portal/2024/09/30/portal/2024/09/30/WSBdC4JH63276i7C7n15G53kYHz64Sky?x-oss-process=style/article-body);"></div>

        
        </div>
        <hr class="split_line">
    </div>

    <div class="container">
        <div class="title_con">
            <div class="line_con"><div class="title_line"></div></div>
            <div class="title_main">Meta的新眼镜Orion，就是下一代消费级AI设备的“GPT3时刻”系</div>
        </div>
        
        <div class="feed_con">
        
        <div class="ban" style="background-image:url(https://cdn.pingwest.com/portal/2024/09/30/portal/2024/09/30/x8NKpzGady63a660WDEN48Jicnz776Ey.png?x-oss-process=style/article-body);"></div>

        
            <div class="feed_abst">
                Meta的新眼镜Orion，就是下一代消费级AI设备的“GPT3时刻” 路线已经清晰，一切都会更快发生
            </div>
        
        </div>
        <hr class="split_line">
    </div>

        <div class="page_bottom">
            <span>请注意，以上内容均采自互联网不代表本人观点，仅供交流学习使用。</span>
        </div>
    </div>
    <script src="./getHeight.js"></script>
</body>
</html>