/* daily_feeds */

html {
  font-family: PingFang SC;
  font-size: 100%; /* 基准字体大小，这里假设16px是1rem */
  margin: 0;
  padding: 0;
}
body {
  height: auto;
  background-color: transparent;
  display: flex;
  justify-content: center;
}
.page_main {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* 12px -> 0.75rem */
  align-items: flex-start;
  width: 51.5rem;
  padding: 0rem 0.75rem;
}
.page_head {
  display: flex;
  padding: 0.75rem 1.5rem;
  align-items: center;
  gap: 0.75rem;
  background-color: #3959f2;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
.page_head span {
  color: #fff;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50rem;
}
.ban {
  width: 15rem;
  min-width: 15rem;
  height: 11.25rem;
  border-radius: 0.25rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.first_ban {
  width: 50rem !important;
  height: 18.75rem !important;
}
.title_con {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-self: stretch;
  align-items: flex-start;
  width: 100%;
}
.line_con {
  display: flex;
  padding: 0.1875rem 0rem;
  align-items: center;
  gap: 0.625rem;
}
.title_line {
  width: 0.625rem;
  height: 2.75rem;
  border-radius: 0.25rem;
  background-color: #3959f2;
}
.title_main {
  color: #000;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.feed_abst {
  overflow: hidden;
  color: #bcbcbc;
  text-align: justify;
  text-overflow: ellipsis;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.split_line {
  width: 100%;
  border-top: 1px dashed transparent;
  border-image: repeating-linear-gradient(
      -45deg,
      black 0 5px,
      transparent 5px 10px
    )
    1 / 0 0 1px 1px;
}
.feed_con {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-self: stretch;
}
.page_bottom {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 1.5rem;
  gap: 0.625rem;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0.75rem 0;
}
.page_bottom span {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}
